<div class="container">
  <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @doctor.title %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @doctor.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @doctor.last_name %>
    </p>

    <p>
      <strong>Post nominals:</strong>
      <%= @doctor.post_nominals %>
    </p>

    <p>
      <strong>Bio:</strong>
      <%= @doctor.bio %>
    </p>

    <p>
      <strong>Photo:</strong>
      <%= @doctor.photo %>
    </p>
    <p>
      <% if current_user.voted_for? @doctor %>
        <%= link_to 'Unlike', unlike_doctor_path, class: 'btn btn-warning btn-sm' %>
      <% else %>
        <%= link_to 'Like', like_doctor_path, class: 'btn btn-success btn-sm' %>
      <% end %>
      Likes: <%= @doctor.find_votes_for.size %>
    </p>

    <%= link_to 'Edit', edit_doctor_path(@doctor) %> |
    <%= link_to 'Back', doctors_path %>
</div>
