<div class="container">
  <br>
  <p id="notice"><%= notice %></p>
  
  <p>
    Hi <% @enquiry.name %>. your enquiry has been received. One of our friendly team will be back to you shortly.
  </p>
  <p>Here are the details of your enquiry for your records:</p>
  <br>
  <p>
    <strong>Email:</strong>
    <%= @enquiry.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @enquiry.name %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= @enquiry.message %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @enquiry.phone %>
  </p>

  <p>
    <strong>Enquiry type:</strong>
    <%= @enquiry.enquiry_type %>
  </p>
  <br>
  <%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
  <%= link_to 'Back', enquiries_path %>
</div>
